<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  <nav class="navbar navbar-full">
    <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          <img src="/logo-banner.png" alt="{{ .Site.Title }} Logo">
        </a>
        <ul class="nav navbar-nav pull-right">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link{{ if $.HasMenuCurrent "main" . }} active{{ end }}">{{ .Name }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li class="dropdown-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
        </ul>
      </div>
    </div>
  </nav>

  {{ with .Params.images.backdrop }}
  <div class="backdrop" style="background-image: url('{{ . }}');"></div>
  {{ end }}

  <div class="container">
    <div class="spacer">
      <div id="operator-header" class="fbi-swat">
        <h1 class="display-1">{{ .Title }}</h1>
        <h4 class="display-4"><em>"{{ .Params.info.quote }}"</em></h4>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="content-border">
            <div class="white-stone">
              <h3>
                {{ if .Params.info.badge }}<img src="{{ .Params.info.badge }}">{{ end }}
                {{ .Params.info.name }}
              </h3>
              <div style="position: absolute;top:20px;right:20px;">
                <p class="ctu">
                  {{ range where .Site.Pages "Type" "ctu" }}
                    {{ if eq $.Params.info.ctu (urlize .Title)}}
                    <a href="{{ .Permalink }}" class="ctu-flag-{{ $.Params.info.ctu }}">{{ .Title }}</a>
                    {{ end }}
                  {{ end }}
                </p>
              </div>
              <div class="col-xs-6">
                <p>
                  <strong>DOB:</strong> {{ .Params.info.dob }}<br>
                  <strong>POB:</strong> {{ .Params.info.pob }}<br>
                  <strong>Position:</strong> {{ .Params.info.position }}
                </p>
              </div>
              <div class="col-xs-6">
                <p>
                  <strong>Height:</strong> {{ .Params.info.height }}<br>
                  <strong>Weight:</strong> {{ .Params.info.weight }}<br>
                  <strong>Gender:</strong> {{ .Params.info.gender }}
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <div class="col-xs-6 center-block">
                <img class="img-rounded" src="/images/operator/armor-{{ urlize .Params.info.armor }}.png">
              </div>
              <div class="col-xs-6 center-block">
                <img class="img-rounded" src="/images/operator/speed-{{ urlize .Params.info.speed }}.png">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h3>Unique Gadget</h3>
              {{ range where .Site.Pages "Type" "gadget" }}
                {{ if and .Params.unique (in .Params.operators $.Title) }}
                <div class="col-md-8">
                  <a href="{{ .Permalink }}">
                    <figcaption class="figure-caption">{{ .Title }}</figcaption>
                    <figure>
                      <img src="{{ .Params.images.main }}" class="figure-img img-fluid img-rounded" alt="{{ partial "title" . }}">
                    </figure>
                  </a>
                </div>
                <div class="col-md-4">
                  {{ .Summary }}<a href="{{ .Permalink }}">Read more...</a>
                </div>
                {{ end }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-xs-12">
          <div class="featured-video">
          {{ if .Params.video }}
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ .Params.video }}" frameborder="0" allowfullscreen></iframe>
          {{ end }}
          </div>
          <div class="lead"><p></p>{{ .Summary }} <a href="{{ ref . "ash.md#bio" }}">Read more...</a></div>
        </div>
      </div>

      {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.sidebarAd) }}

      <div class="row">
        <div class="col-md-5">
          <p></p>
          {{ .Content }}
          {{ partial "references" . }}
        </div>
        <div class="col-md-7">
          <div class="content-border">
            <div class="white-stone">
              {{ partial "h2Anchor" (dict "text" "Loadout" "page" .) }}
              <div class="row">
              {{ range $taxonomyName, $values := .Site.Taxonomies.operators }}
                {{ if eq (lower $taxonomyName) (lower $.Title) }}
                  {{ range $values.Pages.GroupByParam "groupId" }}
                    {{ if gt .Key 0 }}
                      {{ if eq .Key 1 }}<h3>Primary Weapons</h3>{{ end }}
                      {{ if eq .Key 2 }}<h3>Secondary Weapons</h3>{{ end }}
                      {{ if eq .Key 3 }}<h3>Gadgets</h3>{{ end }}
                      {{ range .Pages }}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="article-gallery-item">
                            <a href="{{ .Permalink }}">
                              <figure>
                                <img src="{{ .Params.images.thumbnail }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                              </figure>
                              <figcaption class="figure-caption">{{ .Title }}</figcaption>
                            </a>
                          </div>
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
              </div>

              {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.sidebarAd) }}

              {{ if .Params.gallery.art }}
                {{ partial "h2Anchor" (dict "text" "Gallery" "page" .) }}
                {{ partial "imageGallery" .Params.gallery.art }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>

      {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

      <div class="row">

        {{ partial "sectionNav.html" . }}

        {{ partial "related.html" . }}

        {{ partial "disqus.html" . }}
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
