{{ $ctuTitle := index (index .Site.Data.operators.ctu .Params.info.ctu) "title" }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED TRAINING</a></li>
          <li><a href="/advanced-training/ctu/{{ .Params.info.ctu }}/">{{ upper $ctuTitle }}</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
        {{ with .Params.info.quote }}<h4 class="display-4"><em>"{{ . }}"</em></h4>{{ end }}
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-6 col-xs-12">
          <div class="content-border">
            <div class="white-stone">
              <h3>
                {{ if .Params.images.icon }}<img src="{{ .Params.images.icon }}">{{ end }}
                {{ .Params.info.name }}
              </h3>
              <div style="position: absolute;top:20px;right:20px;">
                <p class="ctu">
                  <a href="/advanced-training/ctu/{{ .Params.info.ctu }}/" class="ctu-flag-{{ .Params.info.ctu }}">
                    {{ $ctuTitle }}
                  </a>
                </p>
              </div>
              <div class="col-xs-6">
                <p>
                  <strong>DOB:</strong> {{ .Params.info.dob }}<br>
                  <strong>POB:</strong> {{ .Params.info.pob }}<br>
                  <strong>Position:</strong> {{ .Params.info.position }}
                </p>
              </div>
              <div class="col-xs-6">
                <p>
                  <strong>Height:</strong> {{ .Params.info.height }}<br>
                  <strong>Weight:</strong> {{ .Params.info.weight }}<br>
                  <strong>Gender:</strong> {{ .Params.info.gender }}
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <div class="col-xs-6 center-block">
                <img class="img-rounded" src="/images/operator/armor-{{ urlize .Params.info.armor }}.png">
              </div>
              <div class="col-xs-6 center-block">
                <img class="img-rounded" src="/images/operator/speed-{{ urlize .Params.info.speed }}.png">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h3>Unique Gadget</h3>
              <p>Gadget only available to this operator.</p>
              {{ range where .Site.Pages "Type" "gadget" }}
                {{ if and .Params.unique (in .Params.operators $.Title) }}
                <div class="col-md-8">
                  <a href="{{ .Permalink }}">
                    <figcaption class="figure-caption">{{ .Title }}</figcaption>
                    <figure>
                      <img src="{{ .Params.images.main }}" class="figure-img img-fluid img-rounded" alt="{{ partial "title" . }}">
                    </figure>
                  </a>
                </div>
                <div class="col-md-4">
                  {{ .Summary }}<a href="{{ .Permalink }}">Read more...</a>
                </div>
                {{ end }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}
            </div>
            <div class="white-stone">
              {{ partial "hAnchor" (dict "text" "Loadout" "page" .) }}
              <div class="row">
              {{ $page := . }}
              {{ range $taxonomyName, $values := .Site.Taxonomies.operators }}
                {{ if eq (lower $taxonomyName) (lower $.Title) }}
                  {{ range $values.Pages.GroupByParam "groupId" }}
                    {{ if gt .Key 0 }}
                      <div class="clearfix"></div>
                      {{ if eq .Key 1 }}{{ partial "hAnchor" (dict "size" "3" "text" "Primary Weapons" "page" $page) }}{{ end }}
                      {{ if eq .Key 2 }}{{ partial "hAnchor" (dict "size" "3" "text" "Secondary Weapons" "page" $page) }}{{ end }}
                      {{ if eq .Key 3 }}{{ partial "hAnchor" (dict "size" "3" "text" "Gadgets" "page" $page) }}{{ end }}
                      {{ range .Pages }}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="article-gallery-item">
                            <a href="{{ .Permalink }}">
                              <figure>
                                <img src="{{ with .Params.images.thumbnail }}{{ . }}{{ else }}{{ .Params.images.main }}{{ end }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                              </figure>
                              <figcaption class="figure-caption">{{ .Title }}</figcaption>
                            </a>
                          </div>
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
              </div>
            </div>
            <div class="white-stone">
              {{ partial "hAnchor" (dict "text" "Unique Skins" "page" .) }}
              <p>Skins applicable to weapons only available to one or two operators.</p>
              {{ partial "relatedBy.html" (dict "key" ".Params.mod-types" "value" "skin" "tag" .Title "page" .) }}
            </div>
            <div class="white-stone">
              {{ partial "hAnchor" (dict "text" "Teammates" "page" .) }}
              <p>Fellow operators from <a href="/advanced-training/ctu/{{ .Params.info.ctu }}/">{{ upper $ctuTitle }}</a>.</p>
              {{ partial "relatedBy.html" (dict "key" "Type" "value" "operator" "tag" $ctuTitle "page" . "template" "gallerySmall") }}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          {{ with .Params.video }}
          <div class="featured-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ . }}" frameborder="0" allowfullscreen></iframe>
          </div>
          {{ end }}

          <div id="content">
            {{ .Content }}
          </div>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd2) }}

          {{ if .Params.gallery }}
            {{ partial "hAnchor" (dict "text" "Gallery" "page" .) }}
            {{ partial "imageGallery" .Params.gallery }}
          {{ end }}

          {{ partial "references" . }}

          {{ partial "hAnchor" (dict "text" "Related Articles" "page" .) }}
          {{ partial "relatedBy.html" (dict "key" "Type" "value" "post" "tag" .Title "page" .) }}
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
