<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    <div class="container">
      <div class="row">

        <!-- blog-contents -->
        <section class="col-md-8">
          <article class="single-blog-item">
            <h1>{{ partial "title" . }}</h1>

            {{ partial "tags" . }}

            {{ if .Params.image }}
            <a href="{{ .Params.image }}">
              <img src="{{ .Params.image }}" style="width: 100%" class="img-rounded">
            </a>
            {{ end }}

            {{ .Content }}

            <h2>Loadout</h2>
            {{ $operator := lower .Title }}
            {{ range $taxonomyName, $values := .Site.Taxonomies.operators }}
              {{ if eq $taxonomyName $operator }}
                {{ range $values.Pages.GroupByParam "groupId" }}
                  <div class="clearfix">
                    {{ if eq .Key 0 }}<h3>Unique Gear</h3>{{ end }}
                    {{ if eq .Key 1 }}<h3>Primary Weapons</h3>{{ end }}
                    {{ if eq .Key 2 }}<h3>Secondary Weapons</h3>{{ end }}
                    {{ if eq .Key 3 }}<h3>Gadgets</h3>{{ end }}
                    {{ range .Pages }}
                      {{ .Render "gallery"}}
                    {{ end }}
                  </div>
                {{ end }}
              {{ end }}
            {{ end }}
          </article>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

          {{ partial "related.html" . }}

          {{ partial "disqus.html" . }}

        </section>
        <!-- end of blog-contents -->

        {{ partial "sidebar.html" . }}

      </div>
    </div> <!-- end of /.container -->
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

</body>
</html>
