<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-7">
          <div id="content">
            <h1>Welcome!</h1>
            <p>
              Rainbow Six Bootcamp is a community driven publication providing detailed information about the current release of the Rainbow Six video game series,
              Siege. Learn more about the site and how to contribute to making <a href="/about/">Rainbow Six Bootcamp the #1 resource</a> for Rainbow Six operators.
            </p>
          </div>

          {{ $paginator := .Paginate ( first 50 (where .Site.Pages "Type" "post") ) }}
          {{ range $paginator.Pages }}
            {{ .Render "summary" }}
          {{ end }}

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

          <div class="center-block" style="width: 100%;">
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>

        <div class="col-md-5">
          <div class="content-border">
            <div class="white-stone">
              {{ partial "searchbox" . }}
            </div>
            <div class="white-stone">
              <h2>CTUs</h2>
              {{ range where .Site.Pages.ByTitle "Type" "ctu" }}
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="margin-bottom: 20px; min-height: 220px;">
                  <a href="{{ .Permalink }}">
                    <figure style="margin-bottom: 0; padding-bottom: 0;">
                      <img src="{{ .Params.images.thumbnail }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                    </figure>
                    <figcaption class="figure-caption" style="text-align: center;">{{ .Title }}</figcaption>
                  </a>
                </div>
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Operators</h2>
              {{ range where .Site.Pages.ByTitle "Type" "operator" }}
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 20px;">
                  <a href="{{ .Permalink }}">
                    <figure style="margin-bottom: 0; padding-bottom: 0;">
                      <img src="{{ .Params.images.icon }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                    </figure>
                    <figcaption class="figure-caption" style="text-align: center;">{{ .Title }}</figcaption>
                  </a>
                </div>
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Maps</h2>
              {{ range where .Site.Pages.ByTitle "Type" "map" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Unique Gadgets</h2>
              {{ range where .Site.Pages.ByTitle "Type" "gadget" }}
                {{ if .Params.unique }}{{ .Render "gallerySmall" }}{{ end }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}

  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ .Site.Title }}",
    "url" : "{{ .Site.BaseURL }}",
    "sameAs" : [
      {{ range first (sub (len .Site.Params.socialLinks) 1) .Site.Params.socialLinks }}"{{ .link }}",{{ end }}
      {{ range last 1 .Site.Params.socialLinks }}"{{ .link }}"{{ end }}
    ]
  }
  </script>

</body>
</html>
