<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED</a></li>
          <li><a href="/advanced-training/ctu/">COUNTER TERRORIST UNIT</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="content-border">
            <div class="white-stone">
              <div class="col-xs-3">
                {{ with .Params.images.thumbnail }}<img src="{{ . }}" width="100%">{{ end }}
              </div>
              <div class="col-xs-6" style="padding-left: 10px;">
                <h3>{{ with .Params.info.name }}{{ . }}{{ end }}</h3>
                <p style="padding-left: 40px; vertical-align: middle; line-height: 2em;" class="ctu-flag-{{ .Source.BaseFileName }}">{{ .Params.info.country }}</p>
                {{ with .Params.info.founded }}<p>Founded in {{ . }}.</p>{{ end }}
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h3>Operators</h3>
              {{ range where .Site.Pages.ByTitle "Type" "operator" }}
                {{ if in .Params.info.ctu (urlize $.Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-xs-12">
          <div id="content">
            {{ .Content }}
          </div>
          {{ if .Params.gallery }}
            {{ partial "hAnchor" (dict "text" "Gallery" "page" .) }}
            {{ partial "imageGallery" .Params.gallery }}
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ partial "references" . }}
          {{ partial "related.html" . }}
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
