<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    <div class="container">
      <div class="row">

        <!-- blog-contents -->
        <section class="col-md-8">
          <article class="single-blog-item">
            <h1>{{ partial "titlePrefix" . }} {{ .Title }}</h1>

            {{ partial "tags" . }}

            {{ .Content }}

          </article>

          {{ partial "related.html" . }}

          <div class="advertisement">
            <a href="http://themewagon.com/" class="template-images">
              <img class="img-responsive" src="/assets/img/add.png" alt="Template Store">
              <div class="overlay"></div>
            </a>
          </div>

          {{ template "_internal/disqus.html" . }}

        </section>
        <!-- end of blog-contents -->

        {{ partial "sidebar.html" . }}

      </div>
    </div> <!-- end of /.container -->
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

</body>
</html>
