\@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/*=======================================================================
						Navigation menu
=========================================================================*/

.navbar {
	margin: 0px;
}

.navbar-full {
	margin-bottom: 0px;
	background-color: #1E1E1E;
	box-shadow: 0px 2px 2px #A96113;
}

.navbar-brand > img {
  width: 360px;
}

.navbar-nav {
	text-transform: uppercase;
}

.navbar-full .navbar-nav > li > a {
	color: rgba(238, 238, 238, 0.7);
	font-size: 1.2em;
	margin-left: 12px;
	letter-spacing: .6px;
	padding-right: 0px;
	word-spacing: 2px;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.0.75s;
}

/*=============================================================================
								Global
================================================================================*/

body {
	background-color: #1e1e1e;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #337ab7;
}

a:hover {
	color: #E4840D;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1em;
  font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
  margin-top: 20px;
  padding-top: 10px;
  font-weight: normal;
}

/*---------------------------------- REDESIGN -----------------------------------*/
.container {
	padding: 0px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 1080px;
  z-index: -10;
  background-color: #1E1E1E;
  background-position: top-center;
  background-repeat: no-repeat;
  top: 50px;
}

.spacer {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0px;
}

#operator-header {
	text-shadow: rgb(0,0,0) 1px 1px 1px;
  color: #fff;
  margin: 0;
}

.section-wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 150px;
  width: 100%;
  margin: 50px auto 7px auto;
  padding: 0px 15px;
  background: #dedede none repeat-y;
}

.featured-video {
  margin-top: 20px;
  height: 275px;
}

.content-border {
  box-sizing: border-box;
  padding: 4px;
  margin-top: 20px;
  background-color: transparent;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  background-color: rgba(0,0,0,0.1);
  border-left: 1px solid rgba(84,84,84,0.3);
  border-top: 1px solid rgba(84,84,84,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-right: 1px solid rgba(255,255,255,0.6);
}
.content-border > * {
  -webkit-box-shadow: 0 0 2px 0 #868686;
  -moz-box-shadow: 0 0 2px 0 #868686;
  box-shadow: 0 0 2px 0 #868686;
  background-color: #dedede;
}

.white-stone {
  padding: 10px;
  box-sizing: border-box;
  background: #e9eaec;
  color: #333132;
  width: auto;
  position: relative;
}

.white-stone h2 {
  margin-top: 0px;
}

.white-stone h3 {
  margin-top: 0px;
}

.white-stone div {
  padding: 0px;
}

.ctu	a {
  display: inline-block;
  padding-left: 40px;
	padding-top: 5px;
	height: 30px;
  min-width: 50px;
	font-weight: bold;
	vertical-align: middle;
}

.ctu-flag-fbi-swat {
  background: url('/images/ctu/R6_flags_CTU.png') 0 -90px no-repeat;
}

.ctu-flag-sas {
  background: url('/images/ctu/R6_flags_CTU.png') 0 0 no-repeat;
}

.ctu-flag-gign {
  background: url('/images/ctu/R6_flags_CTU.png') 0 -30px no-repeat;
}

.ctu-flag-gsg-9 {
  background: url('/images/ctu/R6_flags_CTU.png') 0 -60px no-repeat;
}

.ctu-flag-spetsnaz {
  background: url('/images/ctu/R6_flags_CTU.png') 0 -120px no-repeat;
}

.ctu-flag-jtf2 {
  background: url('/images/ctu/R6_flags_CTU.png') 0 0 no-repeat;
}

#loadout {
  box-sizing: border-box;
  padding: 4px;
  margin-top: 0px;
  background-color: transparent;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  background-color: rgba(0,0,0,0.1);
  border-left: 1px solid rgba(84,84,84,0.3);
  border-top: 1px solid rgba(84,84,84,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-right: 1px solid rgba(255,255,255,0.6);
}

#loadout h2 {
  width: 100%;
  background-color: #1e1e1e;
  padding: 5px 10px;
  margin-top: 0px;
  color: #A96113;
}

#loadout h2 a {
  color: #A96113;
}

@media(min-width: 1600px) {
	.container {
		max-width: 1500px;
	}
}

@media(min-width: 601px) and (max-width: 1100px) {
	.backdrop {
		background-size: 1280px 720px;
		top: 100px;
	}
  .featured-video {
    height: 250px;
  }
}

@media(max-width: 600px) {
	.backdrop {
		background-size: 640px 360px;
		top: 150px;
	}
  .featured-video {
    height: 225px;
  }
  .position {
    display: hidden;
  }
}
/*---------------------------------- REDESIGN -----------------------------------*/

.anchor-link {
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  padding-left: 2px;
  /*visibility: hidden;
  margin-left: -17px;
  padding-right: 2px;*/
}

.alert {
    border-radius: 0px;
    font-size: 14px;
}

.alert-info {
	border-left: 10px solid #77DFF5;
    color: #777777;
    padding: 0px 10px;
}

.alert-info a {
    padding: 0px 2px;
    color: #337ab7;
    text-transform: uppercase;
    font-size: 13px;
}

.alert-info a:hover, .alert-success a:hover {
	color: #000000;
}

.alert-success {
	background-color: #BEECAA;
    border-color: #9FBD86;
    border-left: 10px solid #69BD6D;
    padding: 5px 10px;
}

.alert-success a {
    color: #1B5F1C;
    font-size: 15px;
    padding: 0px 2px;
}

.label {
    padding: 1px 3px;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 100;
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-------------------------------------  button  -----------------------------------*/

.btn {
	border: none;
	border-radius: 0px;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;

}

.btn-cmnt,
.btn-contact,
.btn-learn {
	background-color: #fff;
	border: 1px solid #D2924C;
	color: #D2924C;
	float: right;
}

.btn-cmnt:hover,
.btn-contact:hover,
.btn-learn:hover {
	background-color: #D2924C;
	color: #ffffff;
}

.btn-learn,
.btn-contact {
	float: none;
}

/*-------------------------------------- form  -----------------------------------*/

form {
    margin-bottom: 35px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	background-color: #f9f9f9;
	border: 1px solid #E0E0E0;
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	padding: 14px 28px;
}

textarea.form-control {
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-top: 6px;
}

.form-control:focus {
    border-color: #DADADA;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    	 -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
    		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150, 144, 144, 0.5);
}

::-webkit-input-placeholder {
   color: #969595;
}

:-moz-placeholder { /* Firefox 18- */
   color: #969595;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #969595;
}

:-ms-input-placeholder {
   color: #969595;
}

/*-------------------------------------  pagination -------------------------------*/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #E4840D;
	/*border-color: #AF6F20;*/
	border-color: transparent;
	color: #E6E6E6;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	background-color: #E4840D;
	color: #ffffff;
}

.pagination>li>a,
.pagination>li>span {
	color: #9A6326;
	margin-left: 5px;
	border: 1px solid transparent;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
	font-size: 14px;
}

/*============================================================================
								Article
===============================================================================*/

.blog-item {
	/*border: 1px solid #f1f1f1;*/
	margin-bottom: 5px;
	padding: 30px;
}

.blog-item p {
	font-size: 14px;
	line-height: 2em;
	/* text-transform: capitalize; */
}

.blog-item p a {
	color: #337ab7;
	padding: 0px 3px;
}

.blog-item p a:hover {
	color: #E4840D;
}

.blog-item p time {
	padding-left: 3px;
}

.blog-item h1 {
	font-size: 25px;
	margin-top: 10px;
}

.single-blog-item,
.author {
	margin-bottom: 30px;
	padding: 15px 45px;
	text-align: justify;
}

.single-blog-item h1 {
	margin: 20px 0px;
  text-transform: uppercase;
}

.single-blog-item p a {
	color: #337ab7;
}

.single-blog-item p a:hover {
	color: #E4840D;
}

.featured-image {
  width: 100%;
  margin-bottom: 25px;
}

.single-blog-item .list-item {
    margin: 35px 0px;
}

.single-blog-item .item-info {
	background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 30px 0px;
}

.single-blog-item .item-info img {
    margin-bottom: 20px;
}

.related-articles {
    width: 75%;
}

.related-articles .alert-info {
    background-color: transparent;
    border-color: #CB8833;
}

.related-articles .alert-info a {
	color: #556B2F;
}

.related-articles .alert-info a:hover {
	color: #000;
}

.advertisement {
    margin: 20px 0px;
}


.btn-clipboard {
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	display:block;
	padding:5px 8px;
	font-size:12px;
	color:#969595;
	cursor:pointer;
	background-color:#fff;
	border:1px solid #f1f1f1;
}

.btn-clipboard:hover {
	color:#969595;
	background-color:#f1f1f1;
}

.cmnt-clipboard {
	display: block;
	position: relative;
}

.detail-box {
  margin: 0 0 15px 15px;
  padding: 10px;
}

.page-content {
    margin-top: 35px;
}

.header-wrapper {
    padding: 4em 0em;
    background-color: rgba(0, 0, 0, 0.77);;
}

.header-wrapper h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow: none;
}

.header-wrapper .search-widget {
	margin: 15px auto;
	width: 80%;
}

.header-wrapper .search-widget .input-group .form-control {
	padding: 10px 20px;
}

.article-gallery-item {
  background-color: #ffffff;
  border: 1px solid #dadada;
  box-shadow: none;
  margin-bottom: 15px;
}

.article-gallery-item figure {
  width: 100%;
}

.article-gallery-small-item {
  margin-bottom: 14px;
  min-height: 210px;
}

.article-gallery-item:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.article-gallery-item:hover img {
  opacity: 0.8;
}

.article-gallery-item figcaption {
  padding: 8px 10px;
  text-align: center;
}

.article-gallery-small-item figcaption {
  padding: 5px 8px;
}

.article-gallery-item figcaption h3 {
  font-weight: 400;
  margin: auto;
  /*text-shadow: 1px 1px 0 #F2F2F2,1px 2px 0 #b1b1b2;*/
}

.article-gallery-item figcaption h5 {
  font-weight: 350;
  margin: 4px 0 4px 0;
  /*text-shadow: 1px 1px 0 #F2F2F2,1px 2px 0 #b1b1b2;*/
}

@media(min-width: 615px) and (max-width: 767px) {
	.page-content article.col-xs-12 {
		width: 50%;
	}

	.article-gallery-item {
		min-height: 317px;
	}

	.article-gallery-small-item {
		min-height: 200px;
	}
}

/*===========================================================================
					7. Single Design Inspiration
===========================================================================---*/

#imageGallery {
	padding: 0px;
	-moz-column-count: 4;
	-moz-column-gap: 0px;
	-webkit-column-count: 4;
	-webkit-column-gap: 0px;
	column-count: 4;
	column-gap: 0px;
}

#imageGallery img {
	display: inline-block;
	margin-bottom: 0px;
	padding: 2px;
	width: 100%;
}

.image-gallery-item {
  position: relative;
}

.image-gallery-item-zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.75);
  display: none;
}

.item-zoom {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

.image-gallery-item-zoom .item-zoom i {
  font-size: 40px;
  color: #fff;
}

.image-gallery-item:hover .image-gallery-item-zoom {
  display: block;
}

a#loadGallery {
  margin-top: 30px;
}

@media only screen and (max-width : 1200px),
only screen and (max-device-width : 1200px){
	#imageGallery {
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
	}
}

@media only screen and (max-width : 767px),
only screen and (max-device-width : 767px){
	#imageGallery {
		-moz-column-count: 2;
		-moz-column-gap: 0px;
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
		/*width: 600px;*/
	}
}

@media only screen and (max-width : 550px),
only screen and (max-device-width : 550px){
	#imageGallery {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}
}

/*=============================================================================
								Sidebar
=================================================================================*/

.sidebar {
	position: relative;
}

.search-widget{
	margin-bottom: 13px;
}

.search-widget .input-group .form-control,
.subscribe-widget .input-group .form-control {
	background-color: #ffffff;
	/*border: 1px solid #CACACA;*/
	border: transparent;
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	padding: 12px 28px;
}
.search-widget .input-group a.input-group-addon,
.subscribe-widget .input-group a.input-group-addon {
	border: none;
	border-radius: 0px;
  color: #E4840D;
  background-color: #1E1E1E;
}

.template-images {
	position: relative;
	display: block;
}

.template-images .overlay {
	position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
}

.subscribe-widget {
 	margin: 24px 0px;
}

.subscribe-widget h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

.social-share {
	padding: 0;
}

.social-share li {
    display: inline-block;
    margin-right: 8px;
}

.social-share:last-child {
	margin-right: 0px;
}

.share-widget .social-share li a i,
footer .social-share li a i {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 0px;
	color: #000000;
	font-size: 30px;
	font-weight: 100;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	-ms-transition: all 0.75s;
	-o-transition: all 0.75s;
	transition: all 0.0.75s;
}

.share-widget .social-share li a i:hover {
	background-color: #000000;
	color: #E4840D;
}

@media(min-width: 501px) and (max-width: 991px) {
	aside {
		margin-left: 16.66666667%;
	}
}

@media (min-width: 992px) {
	.sidebar {
		position:relative;
		left:initial;
		right:initial;
	}
}

@media (max-width: 500px) {
	aside.col-xs-8 {
		width: 100%;
	}
}

/*============================================================================
							Footer
=============================================================================*/

footer {
  background-color: #1E1E1E;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  padding: 21px 0px;
  position: absolute;
  width: 100%;
}

footer a {
  color: #D2924C;
  font-weight: 400;
}

footer a:hover {
  color: #E4840D;
}

footer .social-share {
  margin-top: 4px;
}

footer .social-share li a i {
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid #1E1E1E;
}

footer .social-share li a i:hover {
  background-color: #AF6F20;
  color: #ffffff;
}

footer .footer-nav {
  float: right;
  margin-top: 10px;
  font-size: 15px;
}

footer .footer-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}

@media (max-width: 767px) {
	footer {
		text-align: center;
	}
	footer .footer-nav {
		float: none;
		padding: 0px;
	}

	footer .social-share {
		margin: 20px 0px;
	}
}

.gsst_b {
  margin-top: 5px;
}

.gsc-inline-block {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
           line-height: normal;
}
