<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-12">
          <div id="content">
            {{ .Content }}

            {{ partial "hAnchor" (dict "text" "Gadgets" "page" .) }}
            <div class="clearfix">
              {{ range where .Site.Pages.ByTitle "Type" "gadget" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            </div>

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}

            {{ partial "hAnchor" (dict "text" "Primary Weapons" "page" .) }}
            <table class="table">
            <tr style="font-size:.7em;">
              <th>Weapon</th>
              <th>Class</th>
              <th>Damage</th>
              <th>Fire Rate</th>
              <th>Mobility</th>
              <th>Capacity</th>
            </tr>
            {{ range where .Site.Pages.ByTitle "Type" "weapon" }}
              {{ if in .Params.tags "primary weapon" }}
                {{ .Render "tablerow" }}
              {{ end }}
            {{ end }}
            </table>

            {{ partial "hAnchor" (dict "text" "Secondary Weapons" "page" .) }}
            <table class="table">
            <tr style="font-size:.7em;">
              <th>Weapon</th>
              <th>Class</th>
              <th>Damage</th>
              <th>Fire Rate</th>
              <th>Mobility</th>
              <th>Capacity</th>
            </tr>
            {{ range where .Site.Pages.ByTitle "Type" "weapon" }}
              {{ if in .Params.tags "secondary weapon" }}
                {{ .Render "tablerow" }}
              {{ end }}
            {{ end }}
            </table>

            {{ partial "hAnchor" (dict "text" "Weapon Attachments" "page" .) }}
            <table class="table">
            <tr style="font-size:.7em;">
              <th>Attachment</th>
              <th>Type</th>
              <th>Cost</th>
              <th>Magnification</th>
              <th>Recoil</th>
              <th>Spread</th>
            </tr>
            {{ range where .Site.Pages.ByTitle "Type" "weapon-mod" }}
              {{ if in .Params.tags "weapon mod" }}
                {{ .Render "tablerow" }}
              {{ end }}
            {{ end }}
            </table>

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd2) }}

            {{ partial "hAnchor" (dict "text" "Weapon Skins" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "weapon-mod" }}
              {{ if in .Params.tags "skin" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}

</body>
</html>
