<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-xs-12">
          <div id="content">
            {{ .Content }}

            {{ partial "hAnchor" (dict "text" "FBI SWAT" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "FBI SWAT" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

            {{ partial "hAnchor" (dict "text" "GIGN" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "GIGN" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}

            {{ partial "hAnchor" (dict "text" "GSG 9" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "GSG 9" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

            {{ partial "hAnchor" (dict "text" "JTF2" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "JTF2" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}

            {{ partial "hAnchor" (dict "text" "SAS" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "SAS" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>

            {{ partial "hAnchor" (dict "text" "Spetsnaz" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "operator" }}
              {{ if in .Params.tags "Spetsnaz" }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}

</body>
</html>
