  <nav class="navbar navbar-full">
    <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          <img src="/logo-banner.png" alt="{{ .Site.Title }} Logo">
        </a>
        <ul class="nav navbar-nav pull-right">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link{{ if $.HasMenuCurrent "main" . }} active{{ end }}">{{ .Name }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li class="dropdown-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
        </ul>
      </div>
    </div>
  </nav>
