{{ if len . }}
<div itemscope itemtype="http://schema.org/ImageGallery">
  {{ range . }}
    {{ if isset . "src" }}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ .src }}" itemprop="contentUrl">
        <img src="{{ .thumbnail }}" itemprop="thumbnail" alt="{{ .alt }}" />
      </a>

      <meta itemprop="width" content="{{ .width }}">
      <meta itemprop="height" content="{{ .height }}">

      <figcaption itemprop="caption description">
        {{ .caption }}

        {{ with .copyright }}
        <span itemprop="copyrightHolder">{{ . }}</span>
        {{ end }}
      </figcaption>
    </figure>
    {{ end }}
  {{ end }}
</div>
{{ end }}
