{{ if len . }}
<div id="image-gallery" class="row" itemscope itemtype="http://schema.org/ImageGallery">
  {{ range . }}
    {{ if isset . "src" }}
    <div class="col-xs-12 col-md-6">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ .src }}" itemprop="contentUrl">
          <img class="img-fluid" src="{{ with .thumbnail }}{{ . }}{{ else }}{{ .src }}{{ end }}" itemprop="thumbnail" alt="{{ .alt }}" />
        </a>

        <meta itemprop="width" content="{{ .width }}">
        <meta itemprop="height" content="{{ .height }}">

        <figcaption itemprop="caption description">
          {{ with .caption }}{{ . }}{{ else }}{{ .alt }}{{ end }}

          {{ with .copyright }}
          <span itemprop="copyrightHolder">{{ . }}</span>
          {{ end }}
        </figcaption>
      </figure>
    </div>
    {{ end }}
  {{ end }}
</div>
{{ end }}
