          <h4>Related Articles</h4>
          <div class="related-articles">
              <div class="alert alert-info">
                  <a href="http://themewagon.com">Free HTML5 Website Templates </a>
              </div>
          </div>
          <div class="related-articles">
              <div class="alert alert-info">
                  <a href="http://themewagon.com">Free HTML5 Website Templates </a>
              </div>
          </div>
          <div class="related-articles">
              <div class="alert alert-info">
                  <a href="http://themewagon.com">Free HTML5 Website Templates </a>
              </div>
          </div>
          <div class="related-articles">
              <div class="alert alert-info">
                  <a href="http://themewagon.com">Free HTML5 Website Templates </a>
              </div>
          </div>
          <div class="related-articles">
              <div class="alert alert-info">
                  <a href="http://themewagon.com">Free HTML5 Website Templates </a>
              </div>
          </div>
