        {{ if .Params.tags }}
          <h4>Related Articles</h4>
          {{ $pageTags := .Params.tags }}
          {{ $pagePermalink := .Permalink }}
          {{ range $taxonomyName, $values := .Site.Taxonomies.tags }}
            {{ if in $pageTags $taxonomyName }}
              {{ range first 10 $values.Pages }}
                {{ if ne $pagePermalink .Permalink }}
                <div class="related-articles">
                  <div class="alert alert-info">
                    <a href="{{ .Permalink }}">
                      {{ partial "title" . }}
                    </a>
                  </div>
                </div>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
