        <!-- sidebar -->
        <aside class="col-md-4 col-sm-8 col-xs-8">
          <div class="sidebar">

            <center>
              <script src="https://apis.google.com/js/platform.js" async defer></script>
              <div class="g-page" data-href="https://plus.google.com/102116020583969691630" data-layout="landscape" data-width="325"></div>
            </center>

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}

            {{ partial "searchbox" . }}

            {{ partial "subscribe.html" . }}

            <!-- sidebar share button -->
            <div class="share-widget hidden-xs hidden-sm">
              <ul class="social-share text-center">
                {{ range $i, $e := .Site.Params.socialLinks }}
                <li><a href="{{ .link }}" target="_blank"><i class="fa fa-{{ .key }}"></i></a></li>
                {{ end }}
              </ul> <!-- /.sidebar-share-button -->
            </div> <!-- /.share-widget -->

            <div class="well">
              <a class="twitter-timeline" href="https://twitter.com/hashtag/rainbow6" data-widget-id="677496522196590592">#rainbow6 Tweets</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </aside>
        <!-- end of sidebar -->
