<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    <div class="container">
      <div class="row">

        <!-- blog-contents -->
        <section class="col-md-8">
          <article class="single-blog-item">
            <h1>{{ partial "title" . }}</h1>

            {{ partial "tags" . }}

            {{ partial "featuredImage" . }}

            <div class="row">
              <div class="col-md-5">
                <p style="padding: 10px; text-align: center;">
                  <em>"{{ .Description }}"</em><br>--in game description
                </p>
              </div>
              <div class="col-md-7">
                <table class="table">
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Class</span>
                    </td>
                    <td>
                      <a href="/classes/{{ urlize (index .Params.classes 0) }}/">{{ index .Params.classes 0 }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Operators</span>
                    </td>
                    <td>
                      {{ if ne .Params.recruit false }}<a href="{{ ref . "operators.md#recruit"}}">Recruit</a>,{{ end }}
                      {{ range .Params.operators }}
                        {{ if eq . "ash" }}
                          <a href="{{ $.Site.Params.operatorRel.ash.src }}">{{ $.Site.Params.operatorRel.ash.title }}</a>
                        {{ else if eq . "castle" }}
                          <a href="{{ $.Site.Params.operatorRel.castle.src }}">{{ $.Site.Params.operatorRel.castle.title }}</a>
                        {{ else if eq . "pulse" }}
                          <a href="{{ $.Site.Params.operatorRel.pulse.src }}">{{ $.Site.Params.operatorRel.pulse.title }}</a>
                        {{ else if eq . "thermite" }}
                          <a href="{{ $.Site.Params.operatorRel.thermite.src }}">{{ $.Site.Params.operatorRel.thermite.title }}</a>
                        {{ else if eq . "doc" }}
                          <a href="{{ $.Site.Params.operatorRel.doc.src }}">{{ $.Site.Params.operatorRel.doc.title }}</a>
                        {{ else if eq . "montagne" }}
                          <a href="{{ $.Site.Params.operatorRel.montagne.src }}">{{ $.Site.Params.operatorRel.montagne.title }}</a>
                        {{ else if eq . "rook" }}
                          <a href="{{ $.Site.Params.operatorRel.rook.src }}">{{ $.Site.Params.operatorRel.rook.title }}</a>
                        {{ else if eq . "twitch" }}
                          <a href="{{ $.Site.Params.operatorRel.twitch.src }}">{{ $.Site.Params.operatorRel.twitch.title }}</a>
                        {{ else if eq . "bandit" }}
                          <a href="{{ $.Site.Params.operatorRel.bandit.src }}">{{ $.Site.Params.operatorRel.bandit.title }}</a>
                        {{ else if eq . "blitz" }}
                          <a href="{{ $.Site.Params.operatorRel.blitz.src }}">{{ $.Site.Params.operatorRel.blitz.title }}</a>
                        {{ else if eq . "iq" }}
                          <a href="{{ $.Site.Params.operatorRel.iq.src }}">{{ $.Site.Params.operatorRel.iq.title }}</a>
                        {{ else if eq . "jäger" }}
                          <a href="{{ $.Site.Params.operatorRel.jager.src }}">{{ $.Site.Params.operatorRel.jager.title }}</a>
                        {{ else if eq . "mute" }}
                          <a href="{{ $.Site.Params.operatorRel.mute.src }}">{{ $.Site.Params.operatorRel.mute.title }}</a>
                        {{ else if eq . "sledge" }}
                          <a href="{{ $.Site.Params.operatorRel.sledge.src }}">{{ $.Site.Params.operatorRel.sledge.title }}</a>
                        {{ else if eq . "smoke" }}
                          <a href="{{ $.Site.Params.operatorRel.smoke.src }}">{{ $.Site.Params.operatorRel.smoke.title }}</a>
                        {{ else if eq . "thatcher" }}
                          <a href="{{ $.Site.Params.operatorRel.thatcher.src }}">{{ $.Site.Params.operatorRel.thatcher.title }}</a>
                        {{ else if eq . "fuze" }}
                          <a href="{{ $.Site.Params.operatorRel.fuze.src }}">{{ $.Site.Params.operatorRel.fuze.title }}</a>
                        {{ else if eq . "glaz" }}
                          <a href="{{ $.Site.Params.operatorRel.glaz.src }}">{{ $.Site.Params.operatorRel.glaz.title }}</a>
                        {{ else if eq . "kapkan" }}
                          <a href="{{ $.Site.Params.operatorRel.kapkan.src }}">{{ $.Site.Params.operatorRel.kapkan.title }}</a>
                        {{ else if eq . "tachanka" }}
                          <a href="{{ $.Site.Params.operatorRel.tachanka.src }}">{{ $.Site.Params.operatorRel.tachanka.title }}</a>
                        {{ end }}
                      {{ end }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Manufacturer</span>
                    </td>
                    <td>
                      <a href="/manufacturers/{{ urlize (index .Params.manufacturers 0) }}/">
                        {{ index .Params.manufacturers 0 }}
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Country of Origin</span>
                    </td>
                    <td>
                      {{ .Params.country }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Cartridges</span>
                    </td>
                    <td>
                      {{ range .Params.cartridges }}
                        <a href="/cartridges/{{ urlize . }}/">{{ title . }}</a><br>
                      {{ end }}
                    </td>
                  </tr>
                </table>

              </div>
            </div>

            <table class="table">
              <tr>
                <th style="font-size:.9em;">Damage</th>
                <th style="font-size:.9em;">Fire Rate</th>
                <th style="font-size:.9em;">Mobility</th>
                <th style="font-size:.9em;">Ammo Capacity</th>
              </tr>
              <tr>
                <td>{{ .Params.specs.damage }}</td>
                <td>{{ .Params.specs.fireRate }}</td>
                <td>{{ .Params.specs.mobility }}</td>
                <td>{{ .Params.specs.capacity }}</td>
              </tr>
            </table>

            {{ .Content }}

            {{ partial "h2Anchor" (dict "text" "Modifications" "page" .) }}
            <div class="clearfix">
              <h3>Sights</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.sight (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Barrel Mods</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.barrel (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Grips</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.grip (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Under Barrel Mods</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.underBarrel (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Skins</h3>
              {{ range where .Site.Pages.ByTitle "Type" "weapon-mod" }}
                {{ if in $.Params.mods.skin (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>

            {{ if isset .Params "images" }}
            {{ partial "h2Anchor" (dict "text" "Gallery" "page" .) }}
            {{ partial "imageGallery" .Params.images }}
            {{ end }}

            {{ partial "references" . }}

            {{ partial "sectionNav.html" . }}
          </article>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

          {{ partial "related.html" . }}

          {{ partial "disqus.html" . }}
        </section>
        <!-- end of blog-contents -->

        {{ partial "sidebar.html" . }}

      </div>
    </div> <!-- end of /.container -->
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
