<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    <div class="container">
      <div class="row">

        <!-- blog-contents -->
        <section class="col-md-8">
          <article class="single-blog-item">
            <h1>{{ partial "title" . }}</h1>

            {{ partial "tags" . }}

            {{ partial "featuredImage" . }}

            <p>
              {{ .Description }}
              Read more about the real world gun at
              <a href="https://en.wikipedia.org/wiki/{{ .Params.wikipedia }}" target="_blank">
                https://en.wikipedia.org/wiki/{{ .Params.wikipedia }}
              </a>
            </p>

            <table class="table">
              <tr>
                <th style="font-size:.9em;">Damage</th>
                <th style="font-size:.9em;">Fire Rate</th>
                <th style="font-size:.9em;">Mobility</th>
                <th style="font-size:.9em;">Ammo Capacity</th>
              </tr>
              <tr>
                <td>{{ .Params.specs.damage }}</td>
                <td>{{ .Params.specs.fireRate }}</td>
                <td>{{ .Params.specs.mobility }}</td>
                <td>{{ .Params.specs.capacity }}</td>
              </tr>
            </table>

            <table class="table">
              <tr>
                <td>
                  <span style="font-weight: bold; font-size: .85em;">Class</span><br>
                  <a href="/classes/{{ urlize (index .Params.classes 0) }}/">
                    {{ index .Params.classes 0 }}
                  </a>
                </td>
                <td>
                  <span style="font-weight: bold; font-size: .85em;">Cartridges</span>
                  {{ range .Params.cartridges }}
                  <br>
                  <a href="/cartridges/{{ urlize . }}/">
                    {{ . }}
                  </a>&nbsp;
                  {{ end }}
                </td>
              </tr>
              <tr>
                <td>
                  <span style="font-weight: bold; font-size: .85em;">Manufacturer</span><br>
                  <a href="/manufacturers/{{ urlize (index .Params.manufacturers 0) }}/">
                    {{ index .Params.manufacturers 0 }}
                  </a>
                </td>
                <td>
                  <span style="font-weight: bold; font-size: .85em;">Country of Origin</span><br>
                  {{ .Params.country }}
                </td>
              </tr>
            </table>

            {{ .Content }}

            {{ partial "h2Anchor" (dict "text" "Modifications" "page" .) }}
            <div class="clearfix">
              <h3>Sights</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.sight (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Barrel Mods</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.barrel (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Grips</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.grip (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Under Barrel Mods</h3>
              {{ range where .Site.Pages "Type" "weapon-mod" }}
                {{ if in $.Params.mods.underBarrel (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>
            <div class="clearfix">
              <h3>Skins</h3>
              {{ range where .Site.Pages.ByTitle "Type" "weapon-mod" }}
                {{ if in $.Params.mods.skin (urlize .Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            </div>

            {{ if isset .Params "images" }}
            {{ partial "h2Anchor" (dict "text" "Gallery" "page" .) }}
            {{ partial "imageGallery" .Params.images }}
            {{ end }}
          </article>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

          {{ partial "related.html" . }}

          {{ partial "disqus.html" . }}

        </section>
        <!-- end of blog-contents -->

        {{ partial "sidebar.html" . }}

      </div>
    </div> <!-- end of /.container -->
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
