{{ $scores := (index .Site.Data.weapons.scores .Source.BaseFileName) }}
{{ $specs := (index .Site.Data.weapons.specs .Source.BaseFileName) }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED</a></li>
          <li><a href="/advanced-training/gear/">GEAR</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Render "seoTitle" }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-8" style="padding-top: 20px">
          {{ partial "featuredImage" . }}

          {{ partial "tags" . }}

          <table class="table">
            <tr style="font-size: .8em;">
              <th>Damage</th>
              <th>Fire Rate</th>
              <th>Mobility</th>
              <th>Ammo<br>Capacity</th>
              <th data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.marksmanScore }}">
                Marksman<br>Score
                <a href="{{ ref . "weapon-ratings.md#marksman-score" }}"><i class="fa fa-question-circle"></i></a>
              </th>
              <th data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.ninjaScore }}">
                Rogue<br>Score
                <a href="{{ ref . "weapon-ratings.md#rogue-score" }}"><i class="fa fa-question-circle"></i></a>
              </th>
              <th data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.supportScore }}">
                Support<br>Score
                <a href="{{ ref . "weapon-ratings.md#support-score" }}"><i class="fa fa-question-circle"></i></a>
              </th>
            </tr>
            <tr>
              <td>{{ $specs.damage }}</td>
              {{ if eq $specs.fireRate 2 }}
              <td data-value="2">Semi-automatic</td>
              {{ else if eq $specs.fireRate 1 }}
              <td data-value="2">Double-action</td>
              {{ else if eq $specs.fireRate 0 }}
              <td data-value="1">Bolt-action</td>
              {{ else if eq $specs.fireRate -1 }}
              <td data-value="1">Pump-action</td>
              {{ else }}
              <td>{{ $specs.fireRate }}</td>
              {{ end }}
              <td>{{ $specs.mobility }}</td>
              <td>{{ $specs.capacity }}</td>
              <td data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.marksmanScore }}">
                {{ $scores.marksman }}
              </td>
              <td data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.ninjaScore }}">
                {{ $scores.rogue }}
              </td>
              <td data-toggle="tooltip" title="{{ .Site.Data.weapons.lang.supportScore }}">
                {{ $scores.support }}
              </td>
            </tr>
          </table>

          <div id="content">
            {{ .Content }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-border">
            <div class="white-stone">
              <p style="text-align: center;">
                <em>"{{ .Params.info.description }}"</em><br>--in game description
              </p>
            </div>
            <div class="white-stone">
              {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1 "Class" "rectangle") }}
            </div>
            <div class="white-stone">
              <table class="table">
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Class</span>
                  </td>
                  <td>
                    {{ with .Params.classes }}<a href="/classes/{{ urlize . }}/">{{ . }}</a>{{ end }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Operators</span>
                  </td>
                  <td>
                    {{ if ne .Params.recruit false }}
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 20px;">
                      <a href="{{ ref . "operators.md#recruit" }}">
                        <figure class="figure">
                          <img src="/images/operator/recruit-badge.png" class="figure-img img-fluid" alt="Rainbow Six Siege: Recruit" title="Recruit">
                        </figure>
                      </a>
                    </div>
                    {{ end }}
                    {{ range where .Site.Pages "Type" "operator" }}
                      {{ if in $.Params.operators .Title }}
                        {{ .Render "galleryTiny" }}
                      {{ end }}
                    {{ end }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Manufacturer</span>
                  </td>
                  <td>
                    {{ range .Params.manufacturers }}
                    <a href="/manufacturers/{{ urlize . }}/">{{ . }}</a>
                    {{ end }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Country of Origin</span>
                  </td>
                  <td>
                    {{ .Params.info.country }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Cartridges</span>
                  </td>
                  <td>
                    {{ range .Params.cartridges }}<a href="/cartridges/{{ urlize . }}/">{{ title . }}</a><br>{{ end }}
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ partial "hAnchor" (dict "text" "Modifications" "page" .) }}

          {{ partial "hAnchor" (dict "text" "Weapon Sights" "page" .) }}
          {{ if $specs.mods.sight }}
            {{ range where .Site.Pages "Type" "weapon-mod" }}
              {{ if in $specs.mods.sight .Source.BaseFileName }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
          {{ else }}
            None
          {{ end }}
          <div class="clearfix"></div>

          {{ partial "hAnchor" (dict "text" "Barrel Attachments" "page" .) }}
          {{ if $specs.mods.barrel }}
            {{ range where .Site.Pages "Type" "weapon-mod" }}
              {{ if in $specs.mods.barrel .Source.BaseFileName }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
          {{ else }}
            None
          {{ end }}
          <div class="clearfix"></div>

          {{ partial "hAnchor" (dict "text" "Under-barrel Attachments" "page" .) }}
          {{ if (index $specs.mods "under-barrel") }}
            {{ range where .Site.Pages "Type" "weapon-mod" }}
              {{ if in (index $specs.mods "under-barrel") .Source.BaseFileName }}
                {{ .Render "gallerySmall" }}
              {{ end }}
            {{ end }}
          {{ else }}
            None
          {{ end }}
          <div class="clearfix"></div>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1 "Class" "leaderboard") }}

          {{ partial "hAnchor" (dict "text" "Weapon Skins" "page" .) }}
          {{ range where .Site.Pages.ByTitle "Type" "weapon-mod" }}
            {{ if and (in $specs.mods.skin .Source.BaseFileName) (in .Params.tags "skin") }}
              {{ .Render "gallerySmall" }}
            {{ end }}
          {{ end }}
          <div class="clearfix"></div>

          {{ if isset .Params "images" }}
            {{ partial "hAnchor" (dict "text" "Gallery" "page" .) }}
            {{ partial "imageGallery" .Params.images }}
          {{ end }}
          <div class="clearfix"></div>

          {{ partial "references" . }}

        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
