<article class="col-md-3 col-sm-6 col-xs-6">
  <div class="article-gallery-item article-gallery-small-item">
    <a href="{{ .Permalink }}">
      <figure>
        <img src="{{ if isset .Params "thumbnail" }}{{ .Params.thumbnail }}{{ else }}{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.image }}{{ end }}{{ end }}" class="img-responsive center-block" alt="{{ partial "title" . }}">
      </figure>
      <figcaption>
        <h5>{{ .Title }}</h5>
      </figcaption>
    </a>
  </div>
</article>
