<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-xs-center">
  <div class="article-gallery-item article-gallery-small-item">
    <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
      <figure class="figure">
        <img src="{{ with .Params.images.thumbnail }}{{ . }}{{ else }}{{ .Params.images.main }}{{ end }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
        <figcaption class="figure-caption">{{ .Title }}</figcaption>
      </figure>
    </a>
  </div>
</div>
