<article class="list-item">
  <div class="row">
    <div class="col-md-3">
      <a href="{{ .Permalink }}">
        <img src="{{ with .Params.images.thumbnail }}{{ . }}{{ else }}{{ if .Params.images.main }}{{ .Params.images.main }}{{ else }}{{ .Site.Params.image }}{{ end }}{{ end }}" class="img-thumbnail center-block" alt="{{ partial "title" . }}">
      </a>
    </div>
    <div class="col-md-9">
      <h3>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
    </div>
  </div>
</article> <!-- /.blog-item -->
