<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          {{ if ne .Type "page" }}
          <li><a href="/{{ .Type }}/">{{ upper .Type }}</a></li>
          {{ end }}
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-8 col-xs-12">
          <article id="content">
            {{ partial "tags" . }}
            {{ partial "featuredImage" . }}

            {{ if gt (len .TableOfContents) 1000 }}
              <div class="content-border"><div class="white-stone"><h5 style="margin-top: 0px;">Table of Contents</h5>{{ .TableOfContents }}</div></div>
            {{ end }}

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1) }}

            {{ .Content }}

            {{ partial "references" . }}
            {{ partial "related" . }}
          </article>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="content-border">
            <div class="white-stone">
              {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd2) }}
              {{ with .Params.video }}
              <div class="featured-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ . }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {{ end }}
              {{ if .Params.gallery }}
                {{ partial "hAnchor" (dict "text" "Gallery" "page" .) }}
                {{ partial "imageGallery" .Params.gallery }}
              {{ end }}
            </div>
            <div class="white-stone">
              <h2>Counter Terrorist Units</h2>
              {{ range where .Site.Pages.ByTitle "Type" "ctu" }}
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                  <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
                    <figure style="margin-bottom: 0; padding-bottom: 0;">
                      <img src="{{ .Params.images.thumbnail }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                    </figure>
                  </a>
                </div>
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Operators</h2>
              {{ range where .Site.Pages.ByTitle "Type" "operator" }}
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" style="margin-bottom: 10px;">
                  <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
                    <figure style="margin-bottom: 0; padding-bottom: 0;">
                      <img src="{{ .Params.images.icon }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                    </figure>
                  </a>
                </div>
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Maps</h2>
              {{ range where .Site.Pages.ByTitle "Type" "map" }}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-right: 3px; min-height: 85px;">
                  <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
                    <figure>
                      <img src="{{ with .Params.images.thumbnail }}{{ . }}{{ else }}{{ .Params.images.main }}{{ end }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                    </figure>
                  </a>
                </div>
              {{ end }}
              <div class="clearfix"></div>
            </div>
            <div class="white-stone">
              <h2>Unique Gadgets</h2>
              {{ range where .Site.Pages.ByTitle "Type" "gadget" }}
                {{ if .Params.unique }}
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
                      <figure>
                        <img src="{{ with .Params.images.thumbnail }}{{ . }}{{ else }}{{ .Params.images.main }}{{ end }}" class="figure-img img-fluid" alt="{{ partial "title" . }}">
                      </figure>
                    </a>
                  </div>
                {{ end }}
              {{ end }}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}
</body>
</html>
