<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html lang="en"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          {{ if ne .Type "page" }}
          <li>
            <a href="/{{ .Type }}/">
              {{ if eq .Section "basic-training" }}BASICS{{ else if eq .Section "advanced-training" }}ADVANCED{{ else }}{{ upper .Type }}{{ end }}
            </a>
          </li>
          {{ end }}
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-8 col-xs-12">
          <article id="content">
            {{ partial "tags" . }}
            {{ partial "featuredImage" . }}

            {{ if gt (len .TableOfContents) 1000 }}
              <div class="content-border"><div class="white-stone"><h5 style="margin-top: 0px;">Table of Contents</h5>{{ .TableOfContents }}</div></div>
            {{ end }}

            {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1 "Class" "leaderboard") }}

            {{ .Content }}

            {{ partial "references" . }}
            {{ partial "related" . }}
          </article>
        </div>
        <div class="col-md-4 col-xs-12">
          {{ partial "sidebar.html" . }}
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}
</body>
</html>
