{{ $modType := index .Params "mod-types" }}
{{ $skin := eq $modType "skin" }}
{{ if $skin }}
<div class="col-lg-1 col-md-2 col-sm-4 col-xs-4" style="padding: 0 10px 0 0;">
{{ else }}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
{{ end }}
  <div class="article-gallery-item article-gallery-small-item" style="min-height: {{ if $skin }}120px{{ else }}180px{{ end }};">
    <a href="{{ .Permalink }}">
      <figure class="figure">
          <img src="/images/gear/weapon-mod/{{ $modType }}/{{ .Source.BaseFileName }}-{{ if $skin }}th{{ else }}-320x180{{ end }}.jpg" class="figure-img img-fluid" alt="{{ partial "title" . }}" title="{{ .Render "seoTitle" }}">
          <figcaption class="figure-caption">{{ .Title }}</figcaption>
      </figure>
    </a>
  </div>
</div>
