<div class="list-item">
  <div class="row">
    <div class="col-md-3">
      <a href="{{ .Permalink }}" title="{{ .Render "seoTitle" }}">
        <img src="/images/gear/weapon-mod/{{ index .Params "mod-types" }}/{{ .Source.BaseFileName }}{{ if in .Params.tags "skin" }}-th{{ else }}--320x180{{ end }}.jpg" class="img-thumbnail center-block" alt="{{ .Render "seoTitle" }}">
      </a>
    </div>
    <div class="col-md-9">
      <h3>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
    </div>
  </div>
</div>
