{{ $modType := index .Params "mod-types" }}
{{ $slug := .Source.BaseFileName }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/advanced-training/">ADVANCED</a></li>
          <li><a href="/advanced-training/gear/">GEAR</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-2">
          <img src="/images/gear/weapon-mod/{{ index .Params "mod-types" }}/{{ .Source.BaseFileName }}-th.jpg" class="img-thumbnail">
          {{ .Render "seoTitle" }}
        </h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-8" style="padding-top: 20px">
          <img src="/images/gear/weapon-mod/{{ index .Params "mod-types" }}/{{ .Source.BaseFileName }}--1600x900.jpg" class="img-rounded featured-image" alt="{{ .Title }}" title="{{ .Render "seoTitle" }}">

          {{ partial "tags" . }}

          <div id="content">
            {{ .Content }}
          </div>

        </div>
        <div class="col-md-4">
          <div class="content-border">
            <div class="white-stone">
              <p style="text-align: center;">
                {{ .Description }}
              </p>
            </div>
            <div class="white-stone">
              {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1 "Class" "rectangle") }}
            </div>
            <div class="white-stone">

              <table class="table">
                <tr>
                  <th colspan="4" style="text-align:center;">Pricing</th>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">R6 Credits</span>
                  </td>
                  <td>
                    {{ with .Params.cost.credits }}{{ . }}{{ else }}N/A{{ end }}
                  </td>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Renown</span>
                  </td>
                  <td>
                    {{ with .Params.cost.renown }}{{ . }}{{ else }}N/A{{ end }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">Uplay Units</span>
                  </td>
                  <td>
                    {{ with .Params.cost.units }}{{ . }}{{ else }}N/A{{ end }}
                  </td>
                  <td>
                    <span style="font-weight: bold; font-size: .85em;">USD</span>
                  </td>
                  <td>
                    {{ with .Params.cost.usd }}${{ . }}{{ else }}N/A{{ end }}
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.contentAd1 "Class" "leaderboard") }}

          {{ partial "hAnchor" (dict "text" "Compatible Weapons" "page" .) }}
          {{ range where .Site.Pages.ByTitle "Type" "weapon" }}
            {{ $specs := index .Site.Data.weapons.specs .Source.BaseFileName }}
            {{ if in (index $specs.mods $modType) $slug }}
              {{ .Render "gallerySmall" }}
            {{ end }}
          {{ end }}
          <div  class="clearfix"></div>

          <div>
            View other weapon mods:
            <a href="/mod-types/sight/">Sights</a>,
            <a href="/mod-types/barrel/">Barrel mods</a>,
            <a href="/mod-types/under-barrel/">Under-barrel mods</a>,
            <a href="/mod-types/skin/">Skins</a>
          </div>
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
