<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <main>
    <div class="container">
      <div class="row">

        <!-- blog-contents -->
        <section class="col-md-8">
          <article class="single-blog-item">
            <h1>
              {{ if .Params.thumbnail }}<img width="61" src="{{ .Params.thumbnail }}">{{ end }}
              {{ partial "title" . }}
            </h1>

            {{ partial "tags" . }}

            {{ partial "featuredImage" . }}

            <div class="row">
              <div class="col-md-8">
                <p style="padding: 10px; text-align: center;">
                  {{ .Description }}
                </p>
              </div>
              <div class="col-md-4">
                <table class="table">
                  <tr>
                    <th colspan="2" style="text-align:center;">Pricing</th>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Renown</span>
                    </td>
                    <td>
                      {{ with .Params.cost.renown }}{{ . }}{{ else }}N/A{{ end }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">R6 Credits</span>
                    </td>
                    <td>
                      {{ with .Params.cost.credits }}{{ . }}{{ else }}N/A{{ end }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span style="font-weight: bold; font-size: .85em;">Uplay Units</span>
                    </td>
                    <td>
                      {{ with .Params.cost.units }}{{ . }}{{ else }}N/A{{ end }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            {{ .Content }}

            {{ partial "h2Anchor" (dict "text" "Compatible Weapons" "page" .) }}
            {{ range where .Site.Pages.ByTitle "Type" "weapon" }}
              {{ if eq (index $.Params "mod-types") "skin" }}
                {{ if in .Params.mods.skin (urlize $.Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
              {{ if eq (index $.Params "mod-types") "barrel" }}
                {{ if in .Params.mods.barrel (urlize $.Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
              {{ if eq (index $.Params "mod-types") "sight" }}
                {{ if in .Params.mods.sight (urlize $.Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
              {{ if eq (index $.Params "mod-types") "under-barrel" }}
                {{ if in (index .Params.mods "under-barrel") (urlize $.Title) }}
                  {{ .Render "gallery" }}
                {{ end }}
              {{ end }}
            {{ end }}

            <div  class="clearfix"></div>
            <div>
              View other weapon mods:
              <a href="/mod-types/sight/">Sights</a>,
              <a href="/mod-types/barrel/">Barrel mods</a>,
              <a href="/mod-types/under-barrel/">Under-barrel mods</a>,
              <a href="/mod-types/skin/">Skins</a>
            </div>
          </article>

          {{ partial "adsenseTag.html" (dict "Client" .Site.Params.adsense.client "Ad" .Site.Params.adsense.footerAd) }}

          {{ partial "related.html" . }}

          {{ partial "disqus.html" . }}

        </section>
        <!-- end of blog-contents -->

        {{ partial "sidebar.html" . }}

      </div>
    </div> <!-- end of /.container -->
  </main>

  {{ partial "footer.html" . }}

  {{ partial "foot.html" . }}

  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
