<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "header.html" . }}

  <div id="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb hidden-sm-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/community/">COMMUNITY</a></li>
          <li><a href="/community/clans/">CLANS</a></li>
          <li class="active">{{ upper .Title }}</li>
        </ol>
      </div>
      <div class="col-md-4 hidden-md-down">
        {{ partial "socialLinks.html" . }}
      </div>
    </div>
  </div>

  {{ partial "backdrop.html" . }}

  <div class="container">
    <div class="spacer">
      <div>
        <h1 class="display-1">{{ .Title }}</h1>
      </div>
    </div>
  </div>

  <main class="container">
    <section class="section-wrapper">
      <div class="row">

        <div class="col-md-8">

          {{ .Content }}

          <div class="clearfix" style="margin-top: 20px;">
            {{ range where .Site.Pages.ByTitle "Type" "clan" }}
              {{ .Render "gallerySmall" }}
            {{ end }}
          </div>
        </div>
      </div>

      {{ partial "sectionNav.html" . }}

      <div class="row">
        <div class="col-xs-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>

    </section>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
  {{ partial "structuredDataArticle.html" . }}

</body>
</html>
